
@{
    ViewBag.Title = "ThemGiaykhaisinh";
    Layout = "~/Views/Shares/_Layout.cshtml";
}
<h3>
    <a href="@Url.Action("Index","Quanlyhocsinh")"> Come back </a>
    <i class="fa fa-chevron-left"></i> Thêm thông tin giấy khai sinh
</h3>
<hr />
<form class="form-group" id="form_GKS" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <label for="HoTen">Họ tên</label>
                <input type="text" name="HoTen" id="HoTen" value="@Session["hocsinh"]" class="form-control form-control-sm" />
                <label for="NgaySinh">Ngày sinh</label>
                <input type="date" name="NgaySinh" id="NgaySinh" class="form-control form-control-sm" />
                <label for="NoiSinh">Nơi sinh</label>
                <input type="text" name="NoiSinh" id="NoiSinh"  class="form-control form-control-sm" />
                <label for="QueQuan">Quê quán</label>
                <input type="text" name="QueQuan" id="QueQuan"  class="form-control form-control-sm" />
                <label for="GioiTinh">Giới tính</label>
                <input type="text" name="GioiTinh" id="GioiTinh" class="form-control form-control-sm" />
                <label for="DanToc">Dân tộc</label> <label for="QuocTich" id="forQuocTich">Quốc tịch</label>
                <input type="text" name="DanToc" id="DanToc"  class="form-control form-control-sm" />               
                <input type="text" name="QuocTich" id="QuocTich"  class="form-control form-control-sm" />
                <label for="NoiDangKy">Nơi đăng ký</label>
                <input type="text" name="NoiDangKy" id="NoiDangKy" class="form-control form-control-sm" />
                <label for="NgapLap">Ngày lập</label>
                <input type="date" name="NgayLap" id="NgapLap" class="form-control form-control-sm" />

            </div>
            <div class="col-lg-6">
                <label for="HoTenMe">Họ tên mẹ</label>
                <input type="text" name="HoTenMe" id="HoTenMe" placeholder="Nhập tên mẹ " class="form-control form-control-sm" />
                <label for="NsMe">Năm sinh mẹ</label>
                <input type="text" name="NsMe" id="NsMe"class="form-control form-control-sm" />
                <label for="DanTocMe">Dân tộc mẹ</label><label id="forQuocTichMe" for="QuocTichMe">Quốc tịch mẹ</label>
                <input type="text" name="DanTocMe" id="DanTocMe" class="form-control form-control-sm" />              
                <input type="text" name="QuocTichMe" id="QuocTichMe" class="form-control form-control-sm" />
                <label for="NoiCuTruMe">Nơi cư trú mẹ</label>
                <input type="text" name="NoiCuTruMe" id="NoiCuTruMe" class="form-control form-control-sm" />
                <label for="HoTenBo">Họ tên bố</label>
                <input type="text" name="HoTenBo" id="HoTenBo" placeholder="Nhập tên bố " class="form-control form-control-sm" />
                <label for="NsBo">Năm sinh bố</label>
                <input type="text" name="NsBo" id="NsBo" class="form-control form-control-sm" />
                <label for="DanTocBo">Dân tộc bố</label><label id="forQuocTichBo" for="QuocTichBo">Quốc tịch bố</label>
                <input type="text" name="DanTocBo" id="DanTocBo" class="form-control form-control-sm" />
                
                <input type="text" name="QuocTichBo" id="QuocTichBo" class="form-control form-control-sm" />
                <label for="NoiCuTruBo">Nơi cư trú bố</label>
                <input type="text" name="NoiCuTruBo" id="NoiCuTruBo" class="form-control form-control-sm" />

            </div>
        </div>
    </div><br />
    <button type="submit" id="btn_gks" class="btn btn-sm btn-primary">Lưu thông tin</button>
</form>