
@{
    ViewBag.Title = "ThemHocsinh";
    Layout = "~/Views/Shares/_Layout.cshtml";
}

<h2>Nhập thông tin học sinh</h2>
<hr />
<form method="post" class="form-group">
    <label for="tenHS">Tên học sinh</label>
    <input type="text" name="tenHS" id="tenHS" class="form-control form-control-sm" />
    <label for="sdt">Số ĐT</label>
    <input type="text" name="sdt" id="sdt" class="form-control form-control-sm" />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control form-control-sm" /><br />
    <input type="submit" value="Lưu thông tin" class="btn btn-sm btn-primary" />
</form>




