
@{
    ViewBag.Title = "Danhsachloi";
    Layout = "~/Views/Shares/_Layout.cshtml";
}

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Nội dung</th>
                <th>Kiểm tra</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về nơi sinh trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> HỌC BẠ </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Học viên <span style="color:red;"> PHẠM TIẾN HƯNG </span> có thông tin về quê quán trong <a href="#"> GIẤY KHAI SINH </a> và <a href="#"> CMT </a> </td>
                <td><a href="#">Xem</a></td>

            </tr>
           
        </tbody>
    </table>
</div>

